:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 66px;
  --color-dark: #000;
  --color-light: #fff;
  --filter-height: 67px;
  --header-width: 57px;
  --cart-badge-adjustment: 59px;
  --janky-cookie-display-fix: 0;
}

@font-face {
  font-family: 'regular';
  src: url('../assets/regular.woff2') format('woff2');
}

body,
button,
p,
a {
  font-family: 'regular';
  font-size: 13px;
  font-weight: normal !important;
}

a:active {
  font-weight: normal !important;
}

/*
* --------------------------------------------------
* Non anchor links
* --------------------------------------------------
*/
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:hover,
button:hover {
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.3); */
  height: 100dvh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: all 200ms ease-in-out;
}
aside#mobile {
  right: auto;
  left: calc(-1 * var(--aside-width));
  border-left: 1px solid #e9e9e9;
  padding: 2rem 1rem 4rem 1rem;
  box-sizing: border-box;
}
aside#cart {
  border: 1px solid #e9e9e9;
  right: 1rem;
  top: 1rem;
  height: auto;
  max-height: 34px;
  max-width: 58px;
  min-width: 58px;
  overflow: hidden;
  transition:
    max-height 400ms ease-in-out,
    min-width 400ms ease-in-out,
    max-width 400ms ease-in-out;
}

aside#location {
  left: calc(50% + var(--header-width));
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}
aside#cart header {
  height: auto;
  border-bottom: 1px solid #e9e9e9;
  padding: 0 0.5rem;
  position: relative;
  z-index: 2;
  background: white;
}
aside#mobile header {
  display: none;
}
aside#location header {
  height: auto;
  padding: 1rem 2rem;
  margin: 0;
}

aside header h3 {
  margin: 0;
}
aside#cart header h3 {
  font-size: 13px;
  padding: 0.5rem 0;
  font-weight: normal;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside#cart header .close {
  opacity: 0;
  display: none;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}
aside#mobile main {
  margin: 0;
}
aside#location main {
  margin: 1rem 2rem 2rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 400ms ease-in-out;
  transition: all 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}
.overlay:has(aside#mobile) .close-outside {
  left: calc(var(--aside-width) + var(--header-width));
}
.overlay:has(aside#cart) .close-outside,
.overlay:has(aside#location) .close-outside {
  inset: 0;
  width: auto;
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay.expanded aside {
  transform: translateX(calc(var(--aside-width) * -1));
}
.overlay.expanded aside#mobile {
  transform: translateX(calc(var(--aside-width) + var(--header-width)));
}
.overlay.expanded aside#cart {
  transform: translateX(0);
}
.overlay.expanded aside#cart.taller {
  max-height: 100dvh;
}
.overlay.expanded aside#cart.wider {
  transform: translateX(0);
  max-width: var(--aside-width);
  min-width: var(--aside-width);
}
.overlay.expanded aside#cart.wider header .close {
  display: flex;
}
.overlay.expanded aside#cart.taller header .close {
  opacity: 1;
}

button.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

button.reset > * {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  background: #fff;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  flex-direction: column;
  height: 100dvh;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
  box-sizing: border-box;
  width: var(--header-width);
  padding-top: 1rem !important;
}
.header > button {
  position: absolute;
  left: calc(28.5px);
  bottom: 1rem;
  transform: translateX(-50%);
  border: none;
  background: transparent;
  padding: 0px;
  cursor: pointer;
}
.line {
  transition: all 200ms ease-in-out;
}
.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 0.4rem;
}
.header-menu-mobile:hover > .header-menu-item,
.footer-menu > a:hover,
.cart-badge > span:hover,
.country-option:hover {
  color: #999999;
}
.header-menu-item:hover {
  color: black !important;
  text-decoration: none;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 1rem;
    margin-left: 3rem;
  }
}

.header-menu-item {
  cursor: pointer;
  font-size: 25px;
  font-family: 'regular';
  transition: color 150ms ease-in-out;
}

.header-menu-item-blank {
  margin-top: 1rem;
}

.header-menu-container {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 6rem);
  justify-content: space-between;
}

.header-menu-bottom-container {
  display: flex;
  flex-direction: column;
  grid-gap: 0.3rem;
}
button.header-menu-item-aux {
  background: transparent;
  border: none;
  width: 100%;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
}
.header-menu-item-aux {
  font-size: 13px;
  color: black;
  transition: color 150ms ease-in-out;
}
.header-menu-item-aux:hover {
  color: #999999;
  text-decoration: none;
}
button.header-menu-item-aux span {
  position: absolute;
  transition: opacity 150ms ease-in-out;
}
button.header-menu-item-aux > svg > path {
  transition: stroke 150ms ease-in-out;
}
button.header-menu-item-aux:hover > svg > path {
  stroke: #999999;
}
.location-form {
  padding: 0.5rem 1rem;
  max-height: 50dvh;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.location-form::-webkit-scrollbar {
  display: none;
}
.location-form > p:hover {
  cursor: pointer;
}
.country-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.country-option:first-of-type {
  color: #256eff;
  margin-bottom: 1rem;
}
.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
}

.cart-badge {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding-block: 0.5rem;
  background: white;
  z-index: 9;
  border: 1px solid #e9e9e9;
  max-width: var(--cart-badge-adjustment);
  min-width: var(--cart-badge-adjustment);
  text-align: center;
}

.cart-badge:hover {
  text-decoration: none !important;
}
.cart-badge svg {
  display: none;
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  margin-top: auto;
  grid-column: 2/6;
  height: 330px;
  display: grid;
  grid-template-columns: subgrid;
  box-sizing: border-box;
}
.footer-left {
  grid-column: 1/3;
  background: white;
  padding: 1rem;
  display: grid;
  grid-template-columns: subgrid;
  align-items: flex-end;
}
.footer-left p {
  grid-template-columns: 1/2;
  font-size: 13px;
}
.footer-right {
  grid-column: 3/5;
  background: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-right > p,
.footer-right > div > p {
  font-size: 13px;
}
.footer-right > div {
  width: 100%;
  font-size: 13px;
}
.footer-right > div:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

.footer-menu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  grid-gap: 0.25rem;
  width: fit-content;
  padding-left: 0;
}
.footer-menu > a {
  text-wrap: nowrap;
}

.email-input-container {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
}
.email-input-container input {
  border: none;
  margin: 0;
  width: 100%;
  padding-left: 0;
}
.email-input-container input:focus-visible {
  outline: none;
}
.email-input-container input::placeholder {
  color: grey;
}
.email-input-container button {
  padding: 0;
  background: transparent;
  border: none;
}
.site-credit,
.site-credit a {
  font-size: 13px;
  color: #ababab;
}
.footer-newsletter {
  width: 100%;
  max-width: none;
}
.newsletter-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 0.25rem 0;
  margin-top: 1rem;
  font-family: 'regular';
}

.newsletter-bar input {
  border: none;
  outline: none;
  font-size: 13px;
  width: 100%;
  max-width: 300px;
  background: transparent;
  padding: 0;
  margin: 0;
  font-family: 'regular';
}

.subscribe-text {
  font-size: 13px;
  cursor: pointer;
  white-space: nowrap;
  padding-left: 1rem;
  font-family: 'regular';
  border: none;
  background: transparent;
  color: black;
}
.subscribe-text:hover {
  color: #999999;
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  min-height: calc(100dvh - var(--cart-aside-summary-height));
  max-height: calc(100dvh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}
.cart-main {
  scrollbar-width: none !important;
}

.cart-main::-webkit-scrollbar {
  display: none !important;
}

.cart-main.with-discount {
  max-height: calc(100dvh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line:last-of-type {
  padding-bottom: 1.5rem;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
  width: 50%;
  border: 1px solid #e9e9e9;
}

.cart-product-details {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}

.cart-title-price > div > div > div {
  font-size: 13px;
}
.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid #e9e9e9;
  bottom: 1rem;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 2rem);
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: bottom 400ms ease-in-out;
}

.cart-lines {
  padding-bottom: 10rem;
}

.cart-line-quantity {
  display: flex;
  width: 99%;
  border: 1px solid #e9e9e9;
  padding: 0;
}
.cart-line-quantity > form {
  width: 40%;
  padding: 0.1rem;
}
.cart-line-quantity > p {
  width: 20%;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #e9e9e9;
  padding: 0.1rem;
}
.cart-line-quantity > form > button {
  width: 100%;
  border: none;
  background: white;
}
.cart-product-details > form > button {
  border: none;
  background: none;
  color: #999999;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}
.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.cart-sub-text p,
.cart-sub-text button {
  color: #999999;
  margin: 0;
  padding: 0;
}
.cart-sub-text button {
  text-decoration: underline;
  border: none;
  background: transparent;
  cursor: pointer;
}
.cart-checkout a {
  display: block;
  width: 100%;
  background-color: #e9e9e9;
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  border: none;
  border-radius: 0;
  text-decoration: none;
  font-weight: bold;
  box-sizing: border-box;
  transition: all 150ms ease-in-out;
}
.cart-checkout a:hover {
  background: black;
  color: white;
}

.cart-checkout a p {
  margin: 0;
}

.note-form-container {
  position: absolute;
  bottom: 0;
  background: white;
  left: -1rem;
  right: -1rem;
  padding: 1rem;
  border-top: 1px solid #e9e9e9;
}

.textarea-container {
  position: relative;
  border: 1px solid #e9e9e9;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
}

.textarea {
  width: 100%;
  height: 164px;
  resize: none;
  font-size: 14px;
  font-family: inherit;
  outline: none;
  transition: border-color 0.2s ease;
  box-sizing: border-box;
  border: none;
}

.textarea:focus {
  border: none;
}

.character-counter {
  position: absolute;
  bottom: 0.25rem;
  right: 0.5rem;
  left: auto;
  font-size: 13px;
  color: #999999;
  background-color: white;
  width: fit-content;
}

.note-form-container > form > .cart-button {
  margin-top: 1rem;
  font-size: 13px;
}

.empty-cart-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70dvh !important;
}

.empty-cart-message {
  font-family: 'regular';
  font-size: 13px;
}

/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/

.predictive-search {
  height: calc(100dvh - var(--header-height) - 40px);
  overflow-y: auto;
  font-family: 'regular';
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
  font-family: 'regular';
}

.predictive-search-form > input {
  border: none;
  padding: 0;
  width: 100%;
  font-family: 'regular';
}
.predictive-search-form > input:focus-visible {
  outline: none;
}

input[type='search' i]::-webkit-search-cancel-button {
  appearance: none;
}

.predictive-search-form > .mobile-menu-btn {
  display: inline;
}
aside#mobile .predictive-search-form {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #999999;
  transition: border-color 150ms ease-in-out;
}
aside#mobile .predictive-search-form > div {
  width: 100%;
  display: flex;
  align-items: center;
}
aside#mobile .predictive-search-form > div > input {
  width: 95%;
  border: none;
  margin: 0;
  background-color: white;
}
aside#mobile .predictive-search-form > div > input:focus-visible {
  outline: none;
}
aside#mobile .predictive-search-form > div > label {
  margin-top: 0.25rem;
}
aside#mobile .predictive-search-form > button {
  margin: 0;
  background: none;
  border: none;
  color: #999999;
  transition: color 150ms ease-in-out;
}
aside#mobile .predictive-search-form:has(input:focus-visible) {
  border-color: black;
}
aside#mobile .predictive-search-form:has(input:focus-visible) > button {
  color: black;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result .account-orders-grid {
  border-bottom: none !important;
  border-left: 0px solid #e9e9e9 !important;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.home {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / 5;
  background-color: #e9e9e9;
  gap: 1px;
  grid-template-rows: min-content;
}
.featured-collection {
  display: block;
  position: relative;
  grid-column: 1/5;
  height: 100dvh;
  padding-bottom: 1px;
}

.featured-collection-image {
  height: 100%;
  max-width: calc(100vw - 57px);
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}
.mobile-featured-collection-image {
  display: none;
}

.featured-collection img {
  height: 100%;
  max-height: 100dvh;
  max-width: calc(100vw - var(--header-width));
  width: calc(100vw - var(--header-width)) !important;
  object-fit: cover;
}

.featured-collection p {
  position: absolute;
  bottom: 0;
  margin-left: 2rem;
  color: white;
  font-size: 32px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.recommended-products {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: min-content;
}

.recommended-products-grid,
.collections-container,
.flagship-container,
.search,
.search-result {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: min-content;
}
.recommended-products-grid {
  row-gap: 1px;
}

.recommended-product img {
  height: auto;
}

.you-may-also-like-container {
  display: contents;
}
.you-may-also-like-container > div > div > a {
  margin-bottom: 0;
}
.recs-title {
  background: white;
  grid-column: 1 / 5;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding: 8px 10px;
}

.collection-grid-item {
  padding: 3rem;
  background: white;
  position: relative;
}
.collection-grid-item img {
  height: auto;
  object-fit: cover;
  transition: scale 250ms ease-in-out;
}
.hovered img {
  scale: 1.03;
}
.collection-grid-item p {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.flagship-left,
.flagship-right {
  grid-column: span 2;
  height: 100dvh;
}

.flagship-left {
  position: relative;
}

.flagship-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flagship-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
}

.flagship-title {
  font-size: 13px;
  margin-bottom: 0.75rem;
}

.flagship-subimage {
  width: 30%;
  margin-bottom: 0.75rem;
}

.flagship-address {
  font-size: 13px;
  line-height: 1rem;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collection {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / 5;
  background-color: #e9e9e9;
  gap: 1px;
  grid-template-rows: min-content;
}
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
  grid-template-rows: min-content;
}

.collection-item img {
  height: auto;
}

.collection > .account-orders-grid {
  all: unset;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.filter-placeholder {
  grid-column: 1/5;
  background: white;
  padding: 1rem;
  height: var(--filter-height);
}
.filter-container {
  background: white;
  top: 1rem;
  left: calc(1rem + var(--header-width));
  position: fixed;
  right: calc(1rem + 1px + var(--cart-badge-adjustment));
  z-index: 2;
  height: var(--filter-height);
}
.desktop-filter {
  flex-grow: 1;
  max-width: unset; /* remove the 65vw limit */
  overflow-x: auto;
}
.desktop-filter-wrapper {
  position: relative;
  overflow: hidden; /* keep gradient overlay from pushing layout */
  border-left: 1px solid #e9e9e9;
  display: flex;
  flex: 1 1 auto;
}

.desktop-filter-wrapper > div > button {
  text-align: left;
}
.desktop-filter-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
  background: linear-gradient(to left, #e9e9e9, white);
  pointer-events: none;
}

.mobile-filter {
  display: none !important;
}
.filter-input {
  background: inherit;
  border-block: none;
  cursor: pointer;
  position: relative;
}

.padded-filter-div {
  padding: 8px 30px 8px 10px;
  max-height: 40px;
  min-width: 130px;
}
.desktop-filter {
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.desktop-filter::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
.filter-space-between {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.full-border {
  border: 1px solid #e9e9e9;
}
.bottom-border {
  border-bottom: 1px solid #e9e9e9;
  background-color: white;
}
.inline-border {
  border-inline: 1px solid #e9e9e9;
}
.inline-border:nth-of-type(n + 2):nth-last-of-type(n + 2) {
  border-right: none;
}
.inline-border:nth-of-type(2) {
  border-left: none;
}
.sort-by-button {
  flex-shrink: 0;
  flex-grow: 0;
  background: transparent;
  border-block: none;
  border-inline: 1px solid #e9e9e9;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(
    ((100vw - var(--header-width)) / 4) - var(--cart-badge-adjustment) - 1rem -
      3px
  );
  position: relative;
  padding-left: 0;
}
.sort-by-button > span {
  padding: 8px 30px 8px 10px;
}
.sort-by-button > svg {
  padding-right: 3px;
}
.sort-overflow-hidden-container,
.sort-overflow-filter-hidden-container {
  position: absolute;
  top: 100%;
  left: -1px;
  width: calc(100% + 2px);
  overflow: hidden;
  height: 50dvh;
}
.sort-container {
  background: white;
  border: 1px solid #e9e9e9;
  border-top: none;
  padding: 0.75rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.sort-container > .filter-input {
  border-inline: 1px solid #e9e9e9 !important;
  border-block: 1px solid #e9e9e9;
  text-align: left;
}
.sort-container > .filter-input:nth-of-type(n + 1) {
  border-bottom: none;
}
.sort-container > .filter-input:last-of-type {
  border-bottom: inherit;
}

.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-column: 1/5;
  grid-template-columns: subgrid;
  grid-template-rows: min-content;
  row-gap: 1px;
}
.product-item-container {
  display: flex;
  /* background: white; */
  aspect-ratio: 1/1;
  overflow: hidden;
  flex-wrap: wrap;
}
.product-item {
  position: relative;
  margin-bottom: 1px;
  overflow: hidden;
  aspect-ratio: 1/1;
  width: 100%;
}
.product-item:hover {
  text-decoration: none;
}
.placeholder-tile.product-item {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  background: #fff;
}
.product-item-details {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.product-item-details > div {
  display: inline-block;
}
.product-item:hover .product-item-details {
  opacity: 1;
}
.product-item-imgs-container img {
  height: auto;
  width: 100%;
  transition: opacity 150ms ease-in-out;
}
.product-item-imgs-container img:nth-of-type(2) {
  opacity: 0;
  position: absolute;
  inset: 0;
}
.has-multiple-images:hover img:first-of-type {
  opacity: 0;
}
.has-multiple-images:hover img:nth-of-type(2) {
  opacity: 0.7;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  background-color: transparent;
  grid-column: span 4;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
}

.product p {
  /* font-size: 13px; */
}
.mapped-indicators {
  display: none;
}
.product-images {
  grid-column: span 2;
  position: sticky;
  top: 0;
  height: 100dvh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-right: 0.5px;
  background: white;
}

.product-images::-webkit-scrollbar {
  display: none;
}

.product-image {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 1px; */
  border-bottom: 1px solid #e9e9e9;
}
.product-image:last-of-type {
  margin-bottom: 0;
}

.product-main {
  grid-column: span 2;
  padding: 1rem;
  margin-left: 0.5px;
  background-color: white;
}

.breadcrumbs,
.crumb {
  color: #999999;
}
.crumb:last-child {
  color: #000000;
}
.crumb-dash {
  margin: 0 6px;
  color: #999999;
}

.cart-link {
  font-weight: 500;
  color: #000;
}

.product-main-details {
  max-width: 387px;
  margin-top: 6rem;
}

.product-title-price,
.chain-title-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* margin-bottom: 2rem; */
}
.chain-title-price {
  margin-top: 0.5rem;
  color: blue;
}

.product-title-price p,
.chain-title-price p,
.product-price {
  font-size: 17px;
}

.product-image img {
  height: auto;
  width: 100%;
  min-height: 50dvh;
  object-fit: cover;
}
.product-image:only-child img {
  min-height: 100dvh;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

/* .size-initial-grid .product-options-item:nth-last-child(-n + 4) {
  border-bottom: 1px solid #e9e9e9 !important;
} */

.product-options-grid.size-initial-grid {
  align-items: inherit !important;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  align-items: flex-start;
  border-top: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
  width: fit-content;
}
.product-options-grid:has(.add-a-chain-option) {
  border: none;
}
.fixed-width {
  width: 100%;
  justify-content: left;
  text-align: left;
  padding: 8px 30px 8px 10px !important;
}

.size-initial-grid {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important;
  width: 100%;
}

.size-initial-grid .product-options-item:nth-child(4n) {
  border-right: 1px solid #e9e9e9 !important;
}

.product-options-item,
.product-options-item:disabled {
  padding: 0.4rem;
  background-color: transparent;
  font-size: 13px;
  font-family: inherit;
  position: relative;
  padding: 8px 10px;
  border: none;
  border-bottom: 1px solid #e9e9e9 !important;
  border-right: 1px solid #e9e9e9 !important;
}

.product-options-item:hover {
  text-decoration: none;
}

.product-option-label-swatch {
  width: 75px;
  height: 75px;
}

.product-option-label-swatch img {
  width: 100%;
}

.cart-button {
  width: 100%;
  border: none;
  padding: 1rem;
  background: #e9e9e9;
  font-size: 13px;
  cursor: pointer;
  transition:
    background-color 200ms ease-in-out,
    color 200ms ease-in-out;
}
/* .cart-button:disabled {
  text-decoration: underline;
  text-underline-offset: -0.3em; 
  text-decoration-skip-ink: none;
  color: #999999;
} */
.cart-button:hover {
  background: black;
  color: white;
}
.cart-button:disabled:hover {
  background: #e9e9e9;
  color: #999999;
}

.chain-title-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}
.add-a-chain-option {
  width: 33%;
  appearance: none;
  border: none;
  background: transparent;
  padding: 0;
  text-align: left;
  cursor: pointer;
}
.add-a-chain-option-img-container {
  width: calc(100% - 1px);
  border: 1px solid #e9e9e9;
  display: flex;
  position: relative;
}
.add-a-chain-option-img-container img {
  width: 100%;
  height: auto;
}
.add-a-chain-option p {
  padding-top: 5px;
  /* padding-right: 5%; */
  padding-left: 2px;
  padding-bottom: 2.5px;
  box-sizing: border-box;
}
.add-a-chain-option div,
.add-a-chain-pop-up-money {
  font-size: 13px;
  color: black;
}
.popupoverlay {
  display: flex;
  align-items: center;
}
.add-a-chain-pop-up {
  margin: auto;
  background: white;
  width: 352px;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 2;
}
.add-a-chain-header {
  display: flex;
  justify-content: space-between;
}
.add-a-chain-header button,
.chain-title-container button {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  gap: 5px;
  padding: 0;
  cursor: pointer;
  margin-bottom: 10px;
}
.chain-title-container button {
  margin-bottom: 0px;
}
.add-a-chain-header svg,
.chain-title-container svg {
  scale: 0.8;
}
.add-a-chain-pop-up > img {
  width: calc(100% - 2px);
  height: auto;
  border: 1px solid #e9e9e9;
}
.add-a-chain-pop-up-title-and-money {
  margin-block: 10px 20px;
}
/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/
.account-container {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: min-content;
  background: white;
  grid-column: 1/5;
  min-height: 100dvh;
  padding-bottom: 8rem;
}
.account-logout {
}
.account-logout > button {
  cursor: pointer;
  border: none;
  outline: none;
  grid-column: 1/3;
  height: 44px;
  margin: auto;
  width: 100%;
  background: #e9e9e9;
  transition:
    color 150ms ease-in-out,
    background 150ms ease-in-out;
}
.account {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: min-content;
  margin-top: 8rem;
}
.account > p {
  font-size: 17px;
  font-family: 'regular';
  margin-bottom: 40px;
  grid-column: 1/3;
}
.orders {
  row-gap: 40px;
  border-top: 1px solid #e9e9e9;
}
.orders-header,
.account-addresses > p {
  margin-top: 5px;
  grid-column: 1/3;
}
.orders,
.orders > div,
.motion-address-container,
.existing-addresses,
.add-address-btn-container,
.addy-form,
.addy-form > fieldset,
.account-logout {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: min-content;
}
.orders > div {
  height: fit-content;
}
.account-addresses {
  border-top: 1px solid #e9e9e9;
  gap: 20px;
  overflow: hidden;
  position: relative;
}
.paginated-resource-div {
  display: grid;
}
.account-orders {
  grid-template-columns: repeat(4, 1fr) !important;
  gap: 1px;
  background-color: #e9e9e9;
}
.account-orders-grid {
  row-gap: 1px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}
.search-result .account-orders-grid {
  border-bottom: none !important;
  border-left: 0px solid #e9e9e9 !important;
  border-right: none !important;
}
.account-orders > p {
  width: 100%;
  background-color: #999999;
  color: white;
  padding: 0.4rem;
  box-sizing: border-box;
}
.account-orders > p:last-of-type,
.order-item-money {
  text-align: right;
}
.account-orders > .paginated-resource-div {
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1/5;
}
.account-orders-grid > a,
.account-orders-grid > p,
.order-item-money {
  padding: 8px 30px 8px 10px;
  line-height: 1.4;
  /* height: fit-content; */
  background-color: white;
}
.order-item-money {
  padding-right: 0rem;
}
.order-number-link {
  text-decoration: underline;
}
.account h2 {
  grid-column: 1/3;
}
.existing-addresses,
.addy-form {
  gap: 20px;
}
.addy-form > div > input {
  width: 100%;
  box-sizing: border-box;
}
.addy-form > div > input[type='checkbox'] {
  width: fit-content;
  margin-block: 1rem;
}
.addy-form > div:has(input[type='checkbox']) {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.existing-address-container {
  width: 100%;
  border: 1px solid #e9e9e9;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.existing-address-form-buttons-container,
.edit-delete-button-container {
  display: flex;
  justify-content: space-between;
}
.edit-delete-button-container {
  gap: 10px;
}
.edit-delete-button-container > button {
  background: none;
  border: none;
  color: #999999;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}
.add-address-btn-container > button,
.form-button-container > button {
  background: none;
  border: none;
  color: black;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}
.form-button-container {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
}
.default,
.make-default {
  border: 1px solid #e9e9e9;
  color: black;
  background: #e9e9e9;
  cursor: pointer;
}
.make-default {
  background: transparent;
}

.add-address-btn-container > button {
  width: fit-content;
}

.account-order {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 1/3;
  border-top: 1px solid #e9e9e9;
}
.line-item-container {
  margin-block: 1rem;
}
.line-item-container,
.line-item-inside-container,
.total-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
.total-container {
  margin-bottom: 0.5rem;
}
.line-item-container span {
  color: #999999;
}

.track-order {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  height: 44px;
  width: 100%;
  background: #e9e9e9;
  transition:
    color 150ms ease-in-out,
    background 150ms ease-in-out;
}
.track-order:hover {
  background: black;
  color: white;
}
.track-order > a {
  color: inherit;
}

/* 
/bespoke
*/

.bespoke-container {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto auto;
}

.bespoke-breadcrumbs {
  background: white;
  z-index: 3;
  top: 1rem;
  left: calc(1rem + var(--header-width));
  position: fixed;
  right: calc(1rem);
}
.bespoke-container > div {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: min-content;
  background: white;
}
.bespoke-form-container {
  grid-column: 1/3;
}

.bespoke-image-container > img {
  grid-column: 1/3;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.bespoke-image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100dvh;
  grid-column: 3/5;
}

.bespoke-form-container > div:first-of-type {
  grid-column: 1/3;
  width: 80%;
  margin: auto;
}

.fade-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}
.fade-image.active {
  opacity: 1;
  z-index: 1;
}

/* 
/aux pages
*/
.page {
  padding: 10rem 0 !important;
  width: 100%;
  display: grid;
  grid-column: 1 / -1;
  margin: auto;
  background: white;
}
.page-contact {
  padding: 10rem 0 0 !important;
  width: 100%;
  display: grid;
  grid-column: 1 / -1;
  margin: auto;
  background: white;
  min-height: calc(100dvh - 10rem);
}
#powrIframeLoader {
  display: none;
}
.pp-page {
  width: 50%;
  margin: auto;
  margin-bottom: 5rem;
}

.pp-page > p > strong {
  font-family: 'regular';
  font-weight: bold !important;
}

.pp-page a {
  text-decoration: underline !important;
}

.section-header-aux {
  border-top: 1px solid #e9e9e9;
  margin-top: 4rem;
  padding-top: 0.5rem;
}

.header-aux-page {
  font-size: 17px;
}
.page-contact > main > div > .section-header-aux {
  margin-bottom: 1rem;
}

#appview {
  margin: 0 !important;
}

#shopify-pc__banner {
  width: 22vw;
  left: calc(var(--header-width) + 50%) !important;
  transform: translate(-50%, -50%) !important;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
#shopify-pc__banner__btn-accept {
  color: white;
  background: black;
}
#shopify-pc__banner__body-policy-link {
  /* display: none; */
}
.shopify-pc__banner__btns {
  flex-direction: column-reverse !important;
}
@media only screen and (max-width: 480px) {
  .shopify-pc__banner__btns {
    flex-direction: column-reverse !important;
  }
  #shopify-pc__banner__btn-decline {
    order: 3;
  }
}
.shopify-pc__banner__dialog button {
  margin: 0 !important;
}
#shopify-pc__banner__btn-decline {
  border: none;
  padding: 0;
  text-align: left;
  text-decoration: underline;
}
#shopify-pc__banner__btn-manage-prefs {
  border: 1px solid hsl(0deg, 0%, 12%, 100%);
  background: #fff;
  color: #333;
  padding: 10px 25px;
  text-decoration: none;
}
#shopify-pc__prefs {
  opacity: var(--janky-cookie-display-fix);
}

.route-error {
  grid-column: 1 / -1 !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background: white;
}
.route-error > h2 {
  font-size: 240px;
  margin-bottom: -2rem;
}
.route-error p,
.route-error a {
  font-size: 13px;
}
.route-error a {
  cursor: pointer;
}

.uiiw > img {
  background-color: #000 !important;
}

body .uwy .uai:focus-within,
body .uwy .ulsti:focus-within {
  outline: 1px solid transparent !important;
}

/* 
MEDIA QUIERIES
*/
@media (min-width: 769px) {
  .featured-collection {
    padding-bottom: 0px;
  }
  .product > .padded-filter-div.full-border.breadcrumbs {
    position: fixed;
    top: 1rem;
    z-index: 1;
    right: calc(1rem + var(--cart-badge-adjustment) + 1px);
    left: calc(50vw + var(--header-width) - 0.75rem);
    background-color: white;
  }
  .recommended-products-grid .product-item:nth-last-child(-n + 4) {
    margin-bottom: 0 !important;
  }
  .products-grid .product-item:nth-last-child(-n + 4) {
    margin-bottom: 0 !important;
  }
  .collection .products-grid .product-item:nth-last-child(-n + 4) {
    margin-bottom: 0 !important;
  }
  .product-item:nth-last-child(-n + 4) {
    margin-bottom: 0 !important;
  }
  .collection
    > .filter-container
    > .filter-space-between.bottom-border.filter-second-row
    > .desktop-filter {
    border-left: 1px solid #e9e9e9;
  }
  .desktop-filter > button:first-of-type {
    border-left: none !important;
  }
  .padded-filter-div.inline-border.filter-input {
    background-color: rgb(246 246 246) !important;
  }
  .filter-space-between.sort-by-button {
    min-width: 185px;
  }
  .sort-container > .padded-filter-div.inline-border.filter-input {
    background-color: white !important;
  }
}
#uc-main-dialog {
  border-radius: 0 !important;
}
.animation {
  bottom: 0;
  pointer-events: none;
}
.header--lowered {
  z-index: 0 !important;
}

@media (max-width: 768px) {
  .animation {
    right: 0 !important;
  }
  body > main {
    min-height: unset;
  }
  html,
  main,
  body {
    background-color: white;
  }
  #shopify-pc__banner {
    left: calc(50%) !important;
  }
  .overlay:has(aside#cart),
  .overlay:has(aside#mobile) {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
  }
  .overlay {
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
  }
  .popupoverlay {
    align-items: flex-end;
  }
  .overlay .add-a-chain-pop-up {
    margin: 0;
    width: 100%;
  }
  .overlay.expanded {
    opacity: 1;
  }
  .overlay.expanded .add-a-chain-pop-up {
    overflow: scroll;
    max-height: 100dvh;
  }
  .add-a-chain-header + img {
    width: 80%;
    margin-inline: 10%;
  }
  .overlay:has(aside#cart) {
    z-index: 1001;
  }
  .overlay.expanded:has(aside#cart) {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .overlay.expanded aside#mobile {
    transform: translateX(100vw);
  }
  .overlay.expanded aside#cart {
    transform: translateX(-100vw) !important;
  }
  aside#mobile {
    left: -100vw;
    height: calc(100dvh - var(--header-height));
  }
  aside#mobile,
  aside#cart {
    top: var(--header-height);
    max-width: 100vw !important;
    min-width: 100vw !important;
    border-top: 1px solid #e9e9e9;
  }
  aside#cart {
    top: 0;
    right: calc(-100vw - 2px);
    max-height: 100dvh;
    min-height: 100dvh;
    transition: all 200ms ease-in-out;
  }
  aside#cart header {
    padding: 1rem;
  }
  .header {
    position: fixed;
    height: var(--header-height);
    min-height: var(--header-height);
    width: 100vw !important;
    align-items: center;
    padding: 1rem;
    /* z-index: 1000; */
    flex-direction: row-reverse;
  }
  .header a:has(svg) {
    /* width: 32.74px !important;
    height: 33.76px !important; */
    /* display: block; */
  }
  .header > button {
    position: relative;
    left: -10px;
    bottom: auto;
    transform: none;
    display: flex;
    align-items: center;
    width: var(--cart-badge-adjustment);
  }
  .header > div {
    /* margin: auto; */
  }
  .cart-badge {
    position: static;
    display: inline !important;
    border: none;
    visibility: visible !important;
  }
  .cart-badge span {
    display: none;
  }
  .cart-badge svg {
    display: block;
    float: right;
  }

  body,
  body > main,
  main {
    display: block;
  }

  .footer {
    display: block;
    height: auto;
  }
  .footer-right > div:last-of-type {
    align-items: flex-start;
    flex-direction: column;
    margin-top: 3rem;
  }
  .footer-right p {
    margin-top: 3rem;
  }
  .footer-menu > a {
    font-family: 'regular';
    font-weight: normal;
  }
  .newsletter-bar {
    margin-top: 0.5rem;
  }
  .home {
    display: block;
  }
  .featured-collection-image {
    display: none;
  }
  .mobile-featured-collection-image {
    width: 100%;
    max-width: 100vw;
    display: block;
    height: 100%;
  }
  .mobile-featured-collection-image img {
    width: 100vw !important;
    max-width: none;
  }
  .featured-collection p {
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .featured-collection-image img {
    max-width: 100%;
    width: 100vw !important;
  }
  .recommended-products {
    display: block;
    background-color: #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }
  .recommended-products-grid .product-item:nth-last-child(-n + 2) {
    margin-bottom: 0 !important;
  }
  .recommended-products-grid,
  .products-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 1px;
  }
  .products-grid {
    border-bottom: 1px solid #e9e9e9;
  }
  .product-item-container {
    width: calc(50% - 0.5px);
    display: block;
    aspect-ratio: auto;
    background: white;
  }
  .product-item {
    aspect-ratio: unset;
    background: white;
    margin-bottom: 0;
    height: fit-content;
    display: block;
  }
  .product-item-details {
    opacity: 1 !important;
    position: static;
    padding: 0rem 1rem 1.5rem;
  }
  .product-item-details > p {
    line-height: 1rem;
  }
  .product-item-details > div {
    padding-top: 0.1rem;
  }
  .collections-container {
    display: flex;
  }
  .collections-container {
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-x: none; /* stronger than 'contain' for preventing bounce */
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    /* Prevent padding/margin leaks */
    padding: 0;
    margin: 0;

    /* No extra space past content */
    white-space: nowrap;
    max-width: 100vw;
    box-sizing: border-box;
  }

  .collections-container::-webkit-scrollbar {
    display: none; /* WebKit */
  }

  .collection-grid-item {
    flex: 0 0 85%;
    scroll-snap-align: start;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    border-right: 1px solid #e9e9e9;
  }
  .collection-grid-item:last-of-type {
    border-right: none;
  }
  .collection-grid-item.hovered {
    transform: scale(1.02);
  }

  .filter-placeholder {
    height: calc(var(--header-height) * 1.52);
  }
  .desktop-filter,
  .desktop-filter-wrapper {
    display: none !important;
  }
  .mobile-filter {
    display: flex !important;
  }
  .filter-container {
    top: var(--header-height);
    border-top: 1px solid #e9e9e9;
    width: 100%;
    left: auto;
    right: auto;
  }
  .filter-container > .padded-filter-div.full-border {
    border-top: none !important;
  }
  .filter-second-row {
    gap: 1px;
    background: #e9e9e9;
  }
  .sort-by-button {
    width: calc(50% - 0.5px);
    /* padding: 4px 15px 4px 15px; */
    transition: background 150ms ease-in-out;
    border-inline: none;
    box-sizing: border-box;
    background: white;
    color: black;
    padding-right: 0.5rem;
  }
  .filter-space-between.inline-border.sort-by-button.mobile-filter {
    /* padding: 0; */
    border-bottom: none;
  }
  .sort-overflow-hidden-container {
    width: 100vw;
    left: calc(-100% - 1px);
    height: 100dvh;
    background: rgba(0, 0, 0, 0.2);
  }
  .sort-overflow-filter-hidden-container {
    width: 100vw;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.2);
  }
  .padded-filter-div.inline-border.filter-input {
    font-size: 17px;
  }
  .sort-container {
    padding: 24px;
  }
  .isOpen-btn {
    background: #e9e9e9;
  }
  .filter-input {
    color: black;
  }
  .flagship-container {
    border-bottom: 1px solid #e9e9e9;
    border-top: 0.75px solid #e9e9e9;
  }
  .flagship-left {
    display: none;
  }
  .flagship-right {
    height: 70dvh;
  }
  .flagship-subimage {
    width: 50%;
  }
  .account-container {
    display: block;
    padding: 1rem;
  }
  .account-addresses {
    display: block;
  }
  .existing-addresses {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
  .add-address-btn-container {
    margin: 1rem 0;
    width: 100%;
  }
  .account-logout {
    margin-top: 2rem;
    margin-bottom: 8rem;
  }
  .motion-address-container > form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header-menu-container {
    height: calc(100dvh - var(--header-height) - 4.5rem);
  }
  .header-menu-container > form {
    margin-top: -1rem;
  }
  .header-menu-mobile {
    display: flex;
    flex-direction: column;
    grid-gap: 0rem;
    margin-top: -3rem;
  }
  .search-result {
    background-color: #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }
  .predictive-search-form > input {
    width: 100%;
    background-color: white;
  }
  .product {
    display: flex;
    flex-direction: column;
    margin-top: var(--header-height);
  }
  .product-item-imgs-container {
    height: 100%;
  }
  .product-images,
  .product-item-imgs-container {
    position: relative;
    display: flex;
    height: auto;
    margin-right: 0;
    width: 100%;
    /* height: 69dvh; */
    position: relative;
    flex-direction: row;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    align-items: flex-end;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overscroll-behavior: none;
  }
  .product-images::-webkit-scrollbar,
  .product-item-imgs-container::-webkit-scrollbar {
    display: none;
  }
  .product-image,
  .product-item-imgs-container img,
  .product-item-imgs-container img:nth-of-type(2) {
    position: static;
    height: auto;
    scroll-snap-align: start;
  }
  .product-item-imgs-container img {
    opacity: 1 !important;
  }
  .product-image img {
    width: 100vw !important;
    /* max-width: calc(999px * 0.5 + 2rem); */
    aspect-ratio: 1/1 !important;
    height: auto !important;
  }
  .product-image:only-child img {
    min-height: auto;
  }
  .placeholder-tile.product-item {
    width: calc(50% - 0.5px) !important;
    height: auto !important;
    background: white !important;
    display: inline-block;
    aspect-ratio: auto !important;
    min-height: 269px;
  }

  .mapped-indicators {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
    bottom: 1rem;
    left: 1rem;
    position: absolute;
    background: #e9e9e9;
    overflow: hidden;
  }
  .product-item-container .mapped-indicators {
    position: static;
    margin-left: 1rem;
    margin-block: 0.75rem;
  }
  .product-title-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
  .product-main-details {
    margin-top: 0;
  }
  .product-options-grid > button > div,
  .filter-container > div > button > span {
    color: black !important;
  }
  .chain-title-container > button > span,
  .add-a-chain-header > button > span,
  .add-a-chain-option > p {
    color: black !important;
  }
  .add-a-chain-pop-up > button {
    color: white;
  }
  .cart-button,
  .cart-checkout > a {
    color: white;
    background: black;
  }

  .page,
  .page-contact,
  .bespoke-container {
    border-bottom: 1px solid #e9e9e9;
  }

  .pp-page {
    width: calc(100% - 2rem);
  }
  .bespoke-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .bespoke-breadcrumbs {
    grid-row: 1;
    grid-column: 1;
    position: relative;
    z-index: 2;
    background: white;
    display: contents !important;
  }

  .bespoke-image-container {
    grid-row: 2;
    grid-column: 1;
    height: 60dvh;
    display: block;
  }

  .bespoke-image-container > img {
    height: 100%;
  }

  .bespoke-form-container {
    grid-row: 3;
    grid-column: 1;
  }

  .bespoke-breadcrumbs > .padded-filter-div.full-border.breadcrumbs {
    margin-top: var(--header-height);
  }

  .cart-summary-aside {
    height: 20dvh;
    margin-bottom: 1.5rem;
    position: absolute;
    bottom: 0;
    width: calc(100% - 2rem) !important;
  }
  .cart-lines {
    padding-bottom: 6rem;
  }
  .cart-line-quantity > form > button {
    color: black;
  }

  .cart-line:last-of-type {
    padding-bottom: 0.75rem;
  }
  body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
  .bespoke-form-container > div:first-of-type {
    width: calc(100% - 2rem);
    margin-top: -4rem;
  }
  body .uwy.userway_p3 .userway_buttons_wrapper {
    left: calc(100vw - 10px) !important;
  }

  .add-a-chain-popup-variant-hovered-indicator {
    display: none;
  }
  .route-error > h2 {
    font-size: 180px;
  }
  .cart-button-sticky-wrapper {
    position: sticky;
    bottom: 10px;
    background: white;
    z-index: 1000;
  }
  .cart-button-sticky-wrapper::before {
    content: '';
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    height: 140px;
    background: linear-gradient(to top, white, transparent);
    pointer-events: none;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
  }
  .cart-button-sticky-wrapper.is-stuck::before {
    opacity: 0;
  }

  .popupoverlay.overlay.expanded {
    z-index: 100000;
  }
}
@media only screen and (max-width: 480px) {
  .shopify-pc__banner__btns.shopify-pc__banner__btns-granular {
    gap: 1rem;
  }
  .shopify-pc__banner__btns-granular :nth-child(3) {
    order: 0;
  }
}
